.footer {
  background-color: #1b1b1b; 
  color: white;
  padding: 16px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links li {
  list-style: none;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
  text-decoration: underline;
}
